@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  background: linear-gradient(
    90deg,
    rgba(95, 158, 160, 1) 0%,
    rgba(163, 193, 173, 1) 50%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
